<div data-component="report-table" class="box">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 table full"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Salário</th>
      <td mat-cell *matCellDef="let element">{{ element.value }}</td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-button (click)="update(i)">
          <mat-icon aria-hidden="false" aria-label="update">edit</mat-icon>
        </button>
        <button mat-button (click)="remove(i)">
          <mat-icon aria-hidden="false" aria-label="delete">clear</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
