<a routerLink="/novo" routerLinkActive="active">Novo</a>
<h3>Tabela de Produtos</h3>
<p *ngIf="!lista || lista.length <= 0">Não contém produtos</p>
<table *ngIf="lista && lista.length > 0" id="produtos">
  <tr>
    <th>Nome</th>
    <th>Marca</th>
    <th>Preço</th>
    <th>Validade</th>
    <th>Editar</th>
    <th>Deletar</th>
  </tr>
  <tr *ngFor="let produto of lista">
    <td>{{produto.nome}}</td>
    <td>{{produto.marca | uppercase}}</td>
    <td>{{produto.preco}}</td>
    <td>{{produto.dataValidade | date:'dd/MM/yyyy'}}</td>
    <td><a [routerLink]="'/edit/'+produto._id">Editar</a></td>
    <td><a (click)="deletar(produto._id)">Excluir</a> </td>

  </tr>
</table>
