<div data-component="user-form">
  <form class="form" (ngSubmit)="submit()">
    <div class="row-flex">
      <div class="col-flex-1">
        <mat-form-field class="full-width">
          <input
            matInput
            [formControl]="email"
            placeholder="Email"
            name="email"
            type="email"
            autocomplete="new-email"
          />
          <mat-error *ngIf="email.invalid">{{
            getErrorMessage(email)
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-flex-1">
        <mat-form-field class="full-width">
          <input
            matInput
            [formControl]="name"
            placeholder="Nome"
            name="name"
            type="text"
            autocomplete="new-name"
          />
          <mat-error *ngIf="name.invalid">{{
            getErrorMessage(name)
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-flex-1">
        <mat-form-field class="full-width">
          <input
            matInput
            [formControl]="username"
            placeholder="Usuário"
            name="username"
            type="text"
            autocomplete="new-username"
          />
          <mat-error *ngIf="username.invalid">{{
            getErrorMessage(username)
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-flex-1">
        <mat-form-field class="full-width">
          <input
            matInput
            [formControl]="password"
            placeholder="Senha"
            name="´password"
            type="password"
            autocomplete="new-password"
          />
          <mat-error *ngIf="password.invalid">{{
            getErrorMessage(password)
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-flex-1">
        <mat-form-field class="full-width">
          <input
            matInput
            [formControl]="phone"
            placeholder="Telefone"
            name="phone"
            type="text"
            autocomplete="new-phone"
          />
          <mat-error *ngIf="phone.invalid">{{
            getErrorMessage(phone)
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-flex-1">
        <mat-form-field class="full-width">
          <mat-label>Perfil</mat-label>
          <select
            matNativeControl
            [formControl]="profile"
            name="profile"
            autocomplete="new-profile"
          >
            <option value="normal">Normal</option>
            <option value="adm">Adm</option>
          </select>
          <mat-error *ngIf="profile.invalid">{{
            getErrorMessage(profile)
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row-flex right buttons">
      <div class="col-flex">
        <a mat-button routerLink="/">Cancelar</a>
      </div>
      <div class="col-flex">
        <button mat-raised-button color="primary">{{ btnLabel }}</button>
      </div>
    </div>
  </form>
</div>
