/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("./assets/news-bg.png") no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.box {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.row-flex.between {
  justify-content: space-between;
}

.row-flex.between > .col-flex-1 {
  flex: 0;
}

.row-flex.right {
  justify-content: flex-end;
}

.row-flex.column {
  flex-direction: column;
  padding: 0 8px;
}

.col-flex {
  padding: 0 8px;
}

.col-flex-1 {
  padding: 0 8px;
  width: 33%;
}

.col-flex-half {
  padding: 0 8px;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .col-flex-1 {
    width: 50%;
  }

  .col-flex-half {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .col-flex-1 {
    width: 100%;
  }
}

.full-width {
  width: 100%;
}

#toast {
  font-family: sans-serif;
  color: #fff;
  display: block;
  position: fixed;
  bottom: -50px;
  padding: 10px;
  width: 100%;
  transition: all 250ms;
}

#toast.error {
  background: #e91e63;
  bottom: 0;
}

#toast.success {
  background: #4caf50;
  bottom: 0;
}

a.full,
button.full {
  display: block;
  width: 100%;
}

.buttons {
  margin-top: 16px;
}

[data-page] {
  padding: 16px;
}

.mat-display-1 {
  font-size: 25px;
  margin-bottom: 40px;
}
