.grid-center-content
    height 100vh

    > div 
        align-items center
        display flex
        justify-content center

div.grid-right-buttons
    display flex
    justify-content flex-end
    margin 16px 0 0
        