$color1 = #fff
$color2 = #ececec//#f7f7f7//#e5e2db
$color3 = #fff

$font1 = 'Secular One', sans-serif

desktop()
    @media screen and (min-width: 1221px)
        {block}
        
tablet()
    @media screen and (max-width: 1220px)
        {block}

mobile()
    @media screen and (max-width: 767px)
        {block}
