<h3>Formulário de Produtos</h3>
<form>    
    Nome:
    <input type="text" name="nome" [(ngModel)]="produto.nome" > <br/>
    Marca:
    <input type="text" name="marca" [(ngModel)]="produto.marca"><br/>
    Preço:
    <input type="text" name="preco" [(ngModel)]="produto.preco"><br/><br/>
    Validade:
    <input type="date" name="dataValidade" [(ngModel)]="produto.dataValidade"><br/><br/>

    <input type="button" value="Salvar" (click)="salvar()">
    <input type="button" value="Cancelar" (click)="cancelar()">
    <p>{{produto.nome}}</p>
    <p>{{produto.marca}}</p>
    <p>{{produto.preco}}</p>
</form>